html {
    height: 100%;

    body {
        height: 100%;
        background-color: #FFEAE6;
        text-align: center;
        overflow: hidden;
        margin: 0;


        #wrapper {

            background-color: green;
            height: 100%;



            .startlogo {
                width: 60%;
                display: block;
                margin: 0 auto;
                padding: 3%;

            }

            #modelbox {
                width: 100%;
                background-color: blue;
                height: 20%;

                .model {
                    float: left;


                }

            }
        }
    }



}
