body {
  background-image: url("../img/pattern.png"); }
  @media only screen and (max-width: 768px) {
    body {
      overflow: hidden; } }

.logo {
  display: block;
  margin: 0 auto;
  padding: 3%;
  margin-top: 3%; }
  @media only screen and (max-width: 768px) {
    .logo {
      width: 90%; } }
  @media only screen and (min-width: 768px) {
    .logo {
      width: 60%; } }

@media only screen and (max-width: 768px) {
  .col-md-6 .hide {
    display: none; } }

.modelimg {
  display: block;
  margin: 0 auto;
  padding: 3%; }
  @media only screen and (max-width: 768px) {
    .modelimg {
      width: 60%;
      margin-top: 3%; } }
  @media only screen and (min-width: 768px) {
    .modelimg {
      width: 60%; } }
